html,
body {
    height: 100%;
    font-size: 14px;
    background-color: var(--f-color-background) !important;
}

/* shinji */

[data-rehype-pretty-code-figure] {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: inherit;
}

[data-rehype-pretty-code-figure] pre {
    overflow-x: auto;
    padding: 1rem 0;
    border-radius: var(--f-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--f-color-base-900) !important;
    max-height: inherit;
    width: 100%;
}

[data-rehype-pretty-code-figure] pre [data-line] {
    padding: 0 2rem;
}

[data-rehype-pretty-code-figure] pre [data-line] > span {
    font-family: monospace;
    font-size: 0.9rem;
}

[data-rehype-pretty-code-figure] code {
    counter-reset: line;
}

[data-rehype-pretty-code-figure] code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: rgba(255, 255, 255, 0.1);
    font-size: 0.8rem;
}

[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
}

[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
}

/* page */

.main {
    padding: 60px 100px 100px 100px;
}

.hero {
    max-width: 75rem;
}

.hero h3 {
    max-width: 60rem;
}

.al1-components {
    max-width: fit-content;
}

.al1-components .f-card {
    box-shadow: none !important;
}

.scroll-content {
    overflow: scroll;
    background: var(--f-color-surface-strong);
}

.story-block {
    position: relative;
    width: 100%;
    padding: 2rem;
    background: var(--f-color-surface);
    border-radius: var(--f-radius);
    box-shadow: var(--f-shadow-card); 
    background-image: radial-gradient(var(--f-color-surface-strong) 1px, transparent 0);
    background-size: 8px 8px;
    background-position: -19px -19px;
    z-index: 2;
}

.story-block .f-menu > * {
    z-index: 1 !important;
}

[data-rehype-pretty-code-figure],
[data-rehype-pretty-code-figure] * {
    z-index: 0;
}

.styled-content > h1,
.docs-content > h1 {
    line-height: 4rem;
    margin: 0.5rem 0 0.5rem 0;
}

.styled-content > h2,
.docs-content > h2 {
    line-height: 2rem;
    margin: 1rem 0 1rem 0;
}

.styled-content > h3,
.docs-content > h3 {
    line-height: 2rem;
    margin: 1.75rem 0 1rem 0;
}

.styled-content > h4,
.docs-content > h4 {
    line-height: 1.25rem;
    margin: 1.75rem 0;
    font-weight: bold;
}

.styled-content > h5,
.docs-content > h5 {
    line-height: 1rem;
    margin: 1.75rem 0;
}

.styled-content > h6,
.docs-content > h6 {
    line-height: 1rem;
}

.styled-content > p,
.docs-content > p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.styled-content > blockquote,
.docs-content > blockquote {
    margin-bottom: 1rem;
}

.docs-content > .f-list code,
.docs-content > .f-text code,
.docs-content > blockquote code,
.styled-content > .f-list code,
.styled-content > .f-text code,
.styled-content > blockquote code {
    background: var(--f-color-surface-highlight);
    color: var(--f-color-accent);
}

.f-scrolling-date-picker {
    overflow: hidden;
    overflow-y: auto;
}

.mobile-component {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    background: var(--f-color-surface);
}

.f-header .f-popout-bottom-right.has-arrow {
    left: 40px;
}

@media only screen and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) {
    .mobile-component {
        display: flex;
    }

    * {
        overflow: hidden;
    }

    .all {
        display: none;
    }

    .main {
        padding: 20px;
        padding-left: 40px;
        padding-top: 150px;
        width: 100%;
        padding: 20px;
        gap: 1rem !important;
    }

    .main .is-jumbo {
        font-size: 4rem !important;
        line-height: 4rem;
        padding: 10px;
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .main h3 {
        font-size: 1.5rem;
        padding: 10px;
        padding-left: 0px;
    }
}

/* temp fix */

/* .f-button.is-accent:after,
.f-button.is-success:after,
.f-button.is-neutral:after,
.f-button.is-caution:after,
.f-button.is-warning:after,
.f-button.is-danger:after,
.f-button.is-highlight:after {
    border-radius: var(--f-button-border-radius);
}

.f-text.xs,
.f-text.sm,
.f-text.md,
.f-text.lg,
.f-text.xl {
    line-height: normal;
}
 */
